{% extends "contributors/base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}

{% if article_list %}
    <ul>
    {% for article in article_list %}
    <div id="articleblock">
        <div id="archived-image">
            <a href="/article/{{ article.id }}"><img src="{{ article.articlepic.url }}" height="123" width="185"></a>
        </div>
        <div id="archived-text">
        <div id="archived-article"> 
            <a href="/article/{{ article.id }}"><strong>{{article.mytitle }}</strong></a>
        </div>
        <div id="archived-summary">
        {{article.summary}}
        </div>
        </div>
        
    </div>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No Articles are currently available.</p>
{% endif %}
{% endblock %}
