{% extends "contributors/base.html" %}

{% block title %}{{current_article.mytitle}}{% endblock %}

{% block content %}

<div id="articlecolumn">

<div id="articledate">
    {{current_article.pub_date|date:"F j, Y"}}
</div>

<div id="articletitle">
    <strong>{{current_article.mytitle}}</strong>
</div>

<div id="articleauthor">
    <em>Update provided by: {{current_article.contrib}}</em>
</div>


<div id="articleimage">
    <img src="{{ current_article.articlepic.url }}" width="500" height="333">
</div>

<div id="articlesummary">
    <strong>{{current_article.summary}}</strong>
</div>
<br/>
<div id="articletext">
{% autoescape off %}
    {{current_article.article|linebreaksbr}}
{% endautoescape %}
</div>
</br>
<em>Source: <a href="{{current_article.reference}}">{{current_article.title}}</a></em>
<br><br><br>
</div>


<div id="extra-articles">
{% if all_recent_article_list %}

    <div id="smallstuff">
    <ul>
    {% for article in all_recent_article_list %}
            <a href="/article/{{ article.id }}">
                <img src="{{ article.articlepic.url }}" height="123" width="185"><strong><div style="text-align:left;">{{article.mytitle}}</div></strong>
            </a>
    {% endfor %}

    </ul>
    </div>
{% else %}
    <p>No articles are available.</p>
{% endif %}
</div>

 {% endblock %}